/*!GENERAL STYLE */
@import '../less/lesshat.less';
/* WordPress Core
-------------------------------------------------------------- */
@import '../less/wordpress-core.less';
/* Shortcodes Ultimate Custom
-------------------------------------------------------------- */
@import '../less/shortcodes-ultimate-custom.less';

/* Theme commons
-------------------------------------------------------------- */
.loading:empty {
    background: url('../images/common/loading.gif') no-repeat center center;
    min-height: 32px;
    min-width: 32px;
}
/* --------------------------------------------------------------
Variables
-------------------------------------------------------------- */
/* Pixels */
@1: 1px;
@2: 2px;
@3: 3px;
@4: 4px;
@5: 5px;
@10: (@5 + @5);
@15: (@10 + @5);
@20: (@10 + @10);
@25: (@20 + @5);
@30: (@15 + @15);
/* Colors */
@black: #000000;
@gray3: #333333;
@gray6: #666666;
@gray9: #999999;
@grayc: #cccccc;
@grayf0: #f0f0f0;
@white: #ffffff;
@blue: #2B7BCB;
@orange: #FFB12A;

/* Class */
.no-margin { margin: 0; }

.no-margint { margin-top: 0; }

.no-marginb { margin-bottom: 0; }

.margint5 { margin-top: (@5); }

.margint10 { margin-top: (@10); }

.margint15 { margin-top: (@15); }

.margint20 { margin-top: (@20); }

.margint25 { margin-top: (@25); }

.margint30 { margin-top: (@30); }

.marginb5 { margin-bottom: (@5); }

.marginb10 { margin-bottom: (@10); }

.marginb15 { margin-bottom: (@15); }

.marginb20 { margin-bottom: (@20); }

.marginb25 { margin-bottom: (@25); }

.marginb30 { margin-bottom: (@30); }

.no-padding { padding: 0; }

.no-paddingt { padding-top: 0; }

.no-paddingb { padding-bottom: 0; }

.no-paddingl { padding-left: 0; }

.no-paddingr { padding-right: 0; }

.paddingt5 { padding-top: (@5); }

.paddingt10 { padding-top: (@10); }

.paddingt15 { padding-top: (@15); }

.paddingt20 { padding-top: (@20); }

.paddingt25 { padding-top: (@25); }

.paddingt30 { padding-top: (@30); }

.paddingb5 { padding-bottom: (@5); }

.paddingb10 { padding-bottom: (@10); }

.paddingb15 { padding-bottom: (@15); }

.paddingb20 { padding-bottom: (@20); }

.paddingb25 { padding-bottom: (@25); }

.paddingb30 { padding-bottom: (@30); }

.marginr30 { margin-right: @30; }

.margint40 { margin-top: @30 + @10; }
/* --------------------------------------------------------------
TRANSITION DELAY - LESS LOOP
-------------------------------------------------------------- */

.generate-columns(7);

.generate-columns(@n, @i: 1) when (@i =< @n) {
    .delay-@{i} {
        -webkit-animation-duration: (@i) + 0s;
        animation-duration: (@i) + 0s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        animation-delay: (@i / 3) + 0s;
        -webkit-animation-delay: (@i / 3) + 0s;
    }
    .generate-columns(@n, (@i + 1));

}

/* --------------------------------------------------------------
Body default
-------------------------------------------------------------- */
html, body { height: 100%; }

body {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    background: #2D2D2D;
    color: #FFF;
}

a {
    .transition(all .2s ease-in-out);

    &:hover { text-decoration: none; }
}

.the-header {
    padding: 5px 0;
    background: #272727;
    color: #000;
}

.img-brands {
    width: 100px;
    height: auto;
    display: inline-block;

}

.header-slogan {
    margin-top: 50px;
    font-weight: 900;
    color: #FFF;
    border-left: 2px solid white;
    padding: 0px 10px;
    font-size: 17px;
}

.header-social-icons {
    text-align: right;
    font-size: 20px;
    color: #FFF;

    & .fa { margin-right: 10px; }

    & a { color: #FFF; &:hover {
        color: #FA3333;
        } }

    & img {
        width: 30px;
        height: auto;
        margin-right: 5px;
        border-radius: 2px;
        &:hover {
            transform: scale(0.9);
        }
    }
}

.navbar-default {
    background: none transparent;
    border: 0;
    box-shadow: none;
    font-size: 20px;
    font-weight: 200;
    margin-top: 15px;
    margin-bottom: 0;
}

.navbar-nav {
    & li {
        margin-left: 5px;

        & a {
            background: none transparent !important;
            box-shadow: none !important;
            color: #FFF !important;
        }
    }
}

.active a { border-bottom: 3px solid #FFF; }

.special-menu-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.81);
    text-align: right;
    padding: 50px;
    font-size: 30px;
}

.menu-hide {
    opacity: 0;
    z-index: -1;
    .transition(all .2s ease-in-out);
}

.menu-show {
    opacity: 1;
    z-index: 80;
    .transition(all .2s ease-in-out);
}

.menu-content {
    text-align: center;
    font-size: 45px;
    margin-top: 50px;

    & ul {
        list-style: none;

        & li {
            padding: 5px 0;

            & a { color: #FFF; }
        }
    }
}

#sticker {
    z-index: 10;
    width: 100%;
}

.the-footer {
    background: black;
    padding: 25px 0;
    font-size: 22px;
    text-align: center;
}

.footer-icons {
    & i { padding: 0 10px; }

    & a { color: #FFF; &:hover {
        color: #FA3333;
        }}

    & img {
        width: 30px;
        height: auto;
        margin-right: 5px;
        border-radius: 2px;
    }
}

.logo-container {
    position: absolute;
    width: 120px;
    left: 45%;
    top: -10px;
    z-index: 2;
}

.navbar-md {
    position: relative;
    padding: 15px 0;

    & .fa { font-size: 20px; }
}

.big-hero {
    background: url(../images/music.jpg);
    background-size: cover !important;
    background-attachment: fixed !important;
    background-position: center 75px !important;
    height: 70vh;
    overflow: hidden;
    position: relative;
    padding-top: 10%;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 200;

    &:after {
        width: 100%;
        height: 150px;
        content: ' ';
        position: absolute;
        left: 0;
        bottom: -90px;
        background: #2D2D2D;
        transform: rotate(-4deg);
    }

    & h1 {
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
    }
}

.page-content {
    padding: 70px 0;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;

    & a { color: #FFF; }
}

.about-img {
    padding-bottom: 15px;

    & img {
        width: 100%;
        height: auto;
    }
}

.testimonials-item {
    text-align: center;
    font-size: 16px;
}

.testimonials-item-img img {
    width: 200px;
    border-radius: 100%;
    display: inline-block;
    margin-bottom: 20px;
    box-shadow: 1px 1px 6px #4D4D4D;
}

.testimonials-content { font-style: italic; }

.testimonials-author {
    font-style: italic;
    font-size: 12px;

    & h2 { font-style: normal; }
}

.testimonials-container {
    background: black;
    padding: 50px 0;
    padding-top: 20px;
}

.section-title {
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    font-weight: 700;
    margin-bottom: 25px;

}

.big-hero-archive { background: url(../images/artists.jpg); }

.artists-item {
    margin-bottom: 25px;
}
.artists-item-img img {
    width: 100%;
    .filter(grayscale(0));
    .transition(all .3s ease-in-out);

    &:hover {
        .filter(grayscale(1));
        .transition(all .3s ease-in-out);
    }
}

.artists-item-title {
    background: black;
    padding: 5px 0;
    text-align: center;
    font-size: 25px;

    & a { color: #FFF; }
}


.lineup-band {
    & h3 { font-weight: 600; }
    & h4 {
        font-weight: 300;
    }
}

.social-band {
    padding: 25px 0;
    padding-bottom: 10px;
    text-align: center;

    & a { color: #FFF; }

    & .fa {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.big-hero-services {
    background: url(../images/music.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 70vh;
    overflow: hidden;
    position: relative;
    padding-top: 10%;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 200;

    &:after {
        width: 100%;
        height: 150px;
        content: ' ';
        position: absolute;
        left: 0;
        bottom: -90px;
        background: #2D2D2D;
        transform: rotate(-4deg);
    }

    & h1 {
        font-size: 40px;
        font-weight: 400;
        text-transform: uppercase;
        position: relative;
    }
}

.service-item {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 25px;

    & h2 {
        font-weight: 600;
        font-size: 20px;
        border-left: 2px solid #2189FF;
        padding-left: 10px;
        margin-bottom: 30px;
        min-height: 55px;
        padding-top: 5px;
    }

    & a { color: #FFF; }

    & .plus {
        color: red;
        font-weight: 900;
        font-size: 20px;
    }
}

.service-sidebar {
    & h2 {
        font-size: 25px;
        font-weight: 600;
    }

    & a { color: #C7C7C7; }
}

.artist-video { margin-bottom: 25px; }

.navbar-right .dropdown-menu {
    right: auto !important;
    left: 0 !important;
}

/* VIDEO */
.the-video {
    background: black;
    z-index: 1;
    top: 0;
    height: 85vh;
    width: 100%;
    position: relative;
    margin-top: 0;
    overflow: hidden;
    cursor: url(../images/playblack.cur), pointer;
}

.fillWidth {
    height: auto;
    width: 100% !important;
    position: absolute;
    top: -80px;
    left: 0;
    cursor: url(../images/playblack.cur), pointer;
}

.slogan-container {
    font-size: 20px;
    padding: 20px;
    padding-top: 11%;
    text-shadow: 2px 2px 6px #D0CECE;
}

.the-about {
    padding: 40px 0;
    text-align: center;
    background: url(../images/pattern2.png);

    & .about-content {
        font-size: 20px;
        line-height: 30px;
        font-weight: 300;

        & h1 {
            font-size: 50px;
            text-shadow: 1px 1px 6px black;
        }

        & h2 { text-shadow: 1px 1px 6px black; }

        & img {
            width: 200px;
            display: inline-block;
            padding-bottom: 20px;
        }
    }
}

.the-services {
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    background: url(../images/pattern2.png);
    & a { color: #FFF; }

    & h1 {
        font-size: 50px;
        text-shadow: 1px 1px 6px black;
    }

    & h2 { text-shadow: 1px 1px 6px black; }

    & img {
        width: 200px;
        display: inline-block;
        padding-bottom: 20px;
    }
}

.front-service-item {
    background: black;
    border: 1px solid;
    min-height: 300px;
    padding-top: 8.5%;
    line-height: 30px;
    text-align: center;
    position: relative;
    text-align: center;
    font-size: 22px;
    line-height: 40px;
    font-weight: 600;
    .transition(all .2s ease-in-out);

    &:hover .front-service-item-mask {
        background: rgba(0, 0, 0, 0.35);
        .transition(all .2s ease-in-out);
    }
}
.front-service-item-link{
    color: #FFF;
}
.front-service-item-mask {
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .transition(all .2s ease-in-out);
}

.the-twitter {
    background: #023A7B;
    min-height: 300px;
    font-size: 25px;
    padding-top: 5%;

    & a {
        color: #BCBCBC;
        text-decoration: none;
    }
}

.canvas-container {
    position: absolute;
    z-index: 9999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
    cursor: url("playblack.cur"), pointer;
}
.canvas-img-container{
    position:relative;
    .transition (all 1.5s ease-in-out);
    &:before {
        background: rgba(205, 205, 205, 0.3);
        content: ' ';
        width: 100%;
        height: 85vh;
        position: absolute;
        right: 100%;
        top: 0;
    }
    &:after {
        background: rgba(209, 209, 209, 0.3);
        content: ' ';
        width: 100%;
        height: 85vh;
        position: absolute;
        top: 0;
    }
}
.canvas-img-container-left{
    margin-left: 40%;
}
.canvas-img-container-no-left{
    margin-left: 0%;
}
.canvas-img {
    height: 85vh;
    width: auto;
}

.video-overlay {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .transition(all .5s ease-in-out);
}

.overlay-hide {
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}

.overlay-show {
    z-index: 20;
    opacity: 1;
    visibility: visible;
}

.fullVideo {
    width: 100%;
    height: 100%;
}

#closevideo {
    position: absolute;
    right: 25px;
    top: 35px;
    font-size: 20px;
    color: #FFF;
    z-index: 99;
    cursor: pointer;
}

.wpcf7-submit {
    background: black;
}
.wpcf7-textarea {
    max-height: 100px;
}

.the-promo {
    padding: 60px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 40px;
    background: url(../images/pattern.png);
}

.rss-aggregator {
    list-style: none;
    padding: 0;
    padding-left: 10px;
    font-size: 16px;
}
.feed-item {
    padding: 5px 0;
    & a {
        color: #E6E6E6;
        padding-left: 0;
        font-weight: 700;
    }
    & .wprss-feed-meta {
        font-size: 14px;
        font-weight: 100;
    }
}

.giphy-overlay {
    position: fixed;

    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: black;
    .transition(all .3s ease-in-out);
    & img{
        display: block;
        max-width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20%;
        width: 200px;
    }
}
.giphy-show{
    z-index: 999;
    opacity: 1;
}
.giphy-hide{
    z-index: -2;
    opacity: 0;
}

#sidebar {
    padding-left: 10px;
    list-style: none;
}
#searchsubmit {
    background: transparent;
    border: 2px solid white;
}

.feed-item a {
    color: #ffffff;
    padding-left: 0;
    font-weight: 500;
    font-size: 25px;
}
.feed-item .wprss-feed-meta {
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 20px;
}
.page-content input.wpcf7-form-control {
    color: #000;
}
.wpcf7-submit {
    color: #FFF !important;
}
.wpcf7-textarea{
    color: #000;
}
.widget {
    margin-bottom: 20px;
}

/* LANDING */
.landing-title {
    padding: 15px;
    & h1 {
        font-size: 55px;
        text-transform: uppercase;
        text-shadow: 1px 1px 3px black;
    }
}
.landing-content {
    padding: 15px 0;
    & iframe {
        width: 100%;
        height: 400px;
    }
}

#sticker-landing {
    background: #00645A;
    padding: 10px 15px;
    padding-bottom: 0;
    text-align: center;
    margin-top: 15px;
    box-shadow: 0 1px 6px black;
    border-radius: 5px;
    & .wpcf7-form-control {
        width: 100%;
        padding: 8px;
        font-weight: 300;
        font-size: 16px;
        border-radius: 3px;
        border: 0;
        margin-bottom: 5px;
    }
    & h4 {
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        margin-bottom: 15px;
    }
    & h5 {
        font-size: 18px;
        font-weight: 300;
        line-height: 25px;
        margin-top: -5px;
    }
    & .wpcf7-submit {
        width: auto;
        background: #019CDE;
        padding: 15px 30px;
        font-weight: 300;
        font-size: 20px;
        text-shadow: 1px 1px 6px black;
    }
}
.is-sticky #sticker-landing {
    max-width: 360px;
}
.big-hero-noparallax {
	background: #000 none !important;
    height: 19vh;
    padding-top: 0.5%;
}