/*!GENERAL MEDIAQUERIES STYLE */
@media (max-width: 1280px){
    .canvas-img {
        height: auto;
        width: 100%;
    }
    .fillWidth {
        top: 0;
    }
    .canvas-img {
        height: auto;
        width: 100%;
    }
    .the-video {
        height: 83.5vh;
    }
}
@media (max-width: 1024px){
    .header-slogan {
        margin-left: 10px;
    }
    .the-video {
        height: 69.5vh;
    }
}
@media (max-width: 991px){
    .navbar-default {
        font-size: 15px;
    }
    .header-slogan {
        margin-left: -30px;
        font-size: 16px;
    }
    .big-hero {
        height: 450px;
        background-size: 240% !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
    }
    .the-video {
        height: 50.5vh;
    }
    .logo-band {
        text-align: center;
        & img{
            display: inline-block;
        }
    }
}
@media (max-width: 800px){
    .the-video {
        height: 32.5vh;
    }
    .big-hero {
        height: 450px;
        background-size: 240% !important;
        background-position: top center !important;
        background-repeat: no-repeat !important;
    }
}
@media (max-width: 768px){
    .the-video {
        height: 39vh;
    }
}
@media (max-width: 610px){
    .header-slogan {
        margin-left: -10px;
        font-size: 15px;
    }
    .the-video {
        height: 32.5vh;
    }
}
@media (max-width: 600px){
    .the-video {
        height: 30.5vh;
    }
}
@media (max-width: 533px){
    .the-video {
        height: 279px;
    }
    .header-slogan {
        margin-left: 0px;
    }
}
@media (max-width: 414px){
    .the-video {
        height: 215px;
    }
    .header-slogan {
        display: none;
    }
    .header-social-icons {
        text-align: right;
        font-size: 18px;
        color: #FFF;
        padding: 0;
    }
}
@media (max-width: 375px){
    .header-social-icons {
        width: 115%;
        margin-left: -30px;
    }
    .the-video {
        height: 195px;
    }
    .the-promo {
        padding: 30px 0;
    }
}
@media (max-width: 320px){
    .the-video {
        height: 165px;
    }
    .header-social-icons {
        display: none;
    }
}
